<link href="css/login.css" rel="stylesheet">

<div class="row">
  <div class="col-md-5  border border-secondary p-4 rounded bg-light">
    <h2 class="username auth-heading">Login</h2>

    <form class="form login-form anchor-area">
      <div class="floater"></div>
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-dark" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6 offset-md-1 border border-secondary p-4 rounded bg-light">
    <h2 class="username auth-heading">Signup</h2>

    <form class="form signup-form anchor-area">
      <div class="right-floater"></div>
      <div class="form-group">
        <label for="username-signup">Name:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
       
        <button class="btn btn-primary btn-dark" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>
